@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define theme colors */
:root {
    --background-dark: #0A0519;
    --background-light: #e994d1;
    --primary-dark: #17122A;
    --primary-light: #f2aedb;
    --hover-dark: #2A2343;
    --hover-light: #f860ee;
    --text-dark: white;
    --text-light: #333;
    --Xcolor: #1892EA;
    --Ocolor: #A737FF;
    --Xcolor-light: #36a9fa;
    --Ocolor-light: #9939e3;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    user-select: none;
    color: var(--text-dark);
}

main {
    background: var(--background-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*header styling*/
#header {
    display: flex;
    width: 235px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#header .player {
    border: solid 4px var(--primary-dark);
    background: var(--primary-dark);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
#header .player:hover {
    border: solid 4px var(--hover-dark);
}
#header .player-active {
    opacity: 1;
    border: solid 4px var(--hover-dark);
}
#header #xPlayerDisplay {
    color: var(--Xcolor);
}
#header #oPlayerDisplay {
    color: var(--Ocolor);
}

/*board styling*/
#board {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 12px;
}
#board .cell {
    background: var(--primary-dark);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s background;
}
#board .cell:hover {
    background: var(--hover-dark);
}

/*reset button styling*/
#restartBtn {
    margin-top: 30px;
    width: 235px;
    background: var(--primary-dark);
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s background;
    visibility: hidden;
}
#restartBtn:hover {
    background: var(--hover-dark);
}

/* */


.rotateImg {
    margin-left: 210%;
    margin-bottom: 10px;
    height: 70%;
    width: 70%;
    transition: transform 0.5s ease;
}

.rotateImg:hover {
    width: 80%;
    transform: rotate(-180deg);
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    max-width: 90%;
}

.popup-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup button {
    background: #ff5252;
    border: none;
    color: var(--text-dark);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.popup button:hover {
    background: #ff7878;
}

/* Add some spacing for popup content */
.popup-content div {
    margin-bottom: 20px;
}

/* Style the checkboxes and labels */
.popup-content label {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.popup-content input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2); /* Slightly enlarge checkboxes */
    cursor: pointer;
}

.popup-content h3 {
    margin-bottom: 3px;
}
